@use "_colors" as *;
@use "_abstracts" as *;

.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.header{
  position: relative;
  background-color: var(--primary-color);
  background-repeat: no-repeat;  
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../assets/header_plate_top.jpg) ;
  background-size: cover;
  background-position: top;
  


  &__title{
    margin-bottom: max(2rem, 3vh);
    
    &--name{
      font-size: 5rem;
      font-weight: 700;
    }

    @include respond(tab-land) {
      margin-bottom: 10rem;
    }
    @include respond(phone){
      margin-bottom: max(2rem, 3vh);
    }
  }

  &__tagline{
    margin-bottom: max(2rem, 3vh);
    &--text{
      font-weight: 200;
      font-size: 5rem;
      line-height: 1;
    }
  }

  &__info{
    margin-bottom: max(2rem, 3vh);
    &--text{
      font-size: 1.5rem;
    }
  }
  @include respond(phone){
    background-image: url(../assets/header_plate_top.jpg) ;
    background-size: cover;
    background-position: top;
    padding: $padding-header-mobile;
  }

  @include respond(tab-land) {
    background-image: url(../assets/header_plate.jpg) ;
    background-size: contain;
    background-position: top right;
    text-align: left;
    padding: $padding-header-tablet;
    
  }

 

  @include respond(big-desktop){
    padding: 20rem 0;
    background-image: url(../assets/header_plate.jpg) ;
  }
}

.header__navbar{
  // width: 50vw;
  position: absolute;
  top: 5rem;
  right: 5rem;
  ul{
    display: flex;
    gap: 2rem;
  }
  li{
    font-size: 1.6rem;
    line-height: 2;
  }
  li:hover{
    border-bottom: 2px solid var(--accent-color);
  }

  .navbar__btn{
    font-family: inherit;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 1rem 2rem;
  }

  .active{
    border-bottom: 2px solid var(--text-color);
  }  
}


.main{
  position: relative;
  min-height: 50vh;
}


.section__top {
  transform: translateY(-7vh);

  &::after{
    position: absolute;
    top: 30%;
    left: 0;
    content: "";
    width: 80%;
    height: 50%;
    background-color: rgba(0,0,0,0.05);
    border-radius: 0 50px 0 0;
    z-index: -100;
  }
}

.section__bottom {
  transform: translateY(7vh);

  &::after{
    position: absolute;
    top: 30%;
    right: 0;
    content: "";
    width: 80%;
    height: 50%;
    background-color: rgba(0,0,0,0.05);
    border-radius: 50px 0 0 0;
    z-index: -100;
  }
}

.section__top,
.section__bottom {

  max-height: 60rem;
  display: flex;
  align-items: center;
  gap: 10rem;

  & .test{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-image: url(../assets/line.svg);
    background-repeat: no-repeat;
    margin-bottom: 2rem;
  }
  
  &--text{
    
    flex: 0 1 50%;

    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &--image > img{
    height: 60rem;
    width: 60rem;
    object-fit: cover;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.2);
  }
}

.container{
  
  
  & > .section__title{
    text-align: center;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Italianno', cursive;
    font-size: 8rem;
    padding: 3rem 0;
  }
}

.food__section{
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  &--title{
    flex: 0 1 100%;
    font-family: 'Italianno', cursive;
    font-size: 6rem;
  }

  &--card{
    flex: 0 1 30%;
    //height: 250px;
    // box-shadow: 0 0 10px rgba(0,0,0,0.2);
    // border-radius: 10px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    & > * {
      margin-bottom: 2rem;
    }



    .food-image {
      height:150px;
      min-height: 30%;
      width: 100%;
      border: 1px solid white;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      background-size: contain;
      overflow: hidden;


      & > img{
        height:100%;
        width:100%;
        object-fit: cover;

      }
      
    }

    .food-name{
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1;
    }

    .food-description{
      font-size: 1.6rem;
    }

    .food-price{
      position: relative;
      font-style: italic;
      font-size: 1.2rem;
      font-weight: 400;

      &::before{
        content: "";
        position: absolute;
        top: -10px;
        width: 50px;
        height: 1px;
        background-color:var(--color-grey-light);
      }
    }
  }
}

.footer{
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
  padding: 10rem 5rem 5rem 5rem;
}

