@use "colors" as *;
@use "abstracts" as *;

.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.header{
  background-color: var(--primary-color);
  background-repeat: no-repeat;  
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../assets/header_plate_top.jpg) ;
  background-size: cover;
  background-position: top;
  padding: $padding-header-mobile;


  &__title{
    margin-bottom: max(2rem, 3vh);
    
    &--name{
      font-size: 5rem;
      font-weight: 700;
    }

    @include respond(tab-land) {
      margin-bottom: 10rem;
    }
    @include respond(phone){
      margin-bottom: max(2rem, 3vh);
    }
  }

  &__tagline{
    margin-bottom: max(2rem, 3vh);
    &--text{
      font-weight: 200;
      font-size: 5rem;
      line-height: 1;
    }
  }

  &__info{
    margin-bottom: max(2rem, 3vh);
    &--text{
      font-size: 1.5rem;
    }
  }


  @include respond(tab-land) {
    background-image: url(../assets/header_plate.jpg) ;
    background-size: contain;
    background-position: top right;
    text-align: left;
    padding: 2rem 60vw 15rem 0;
  }

  @include respond(phone){
    background-image: url(../assets/header_plate_top.jpg) ;
    background-size: cover;
    background-position: top;
    padding: $padding-header-mobile;
  }

  @include respond(big-desktop){
    padding: 10rem 0;
    background-image: url(../assets/header_plate.jpg) ;
  }

}