@use "colors" as *;
@use "abstracts" as *;

.container{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.header{
  position: relative;
  background-color: var(--primary-color);
  background-repeat: no-repeat;  
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../assets/header_plate_top.jpg) ;
  background-size: cover;
  background-position: top;
  


  &__title{
    margin-bottom: max(2rem, 3vh);
    
    &--name{
      font-size: 5rem;
      font-weight: 700;
    }

    @include respond(tab-land) {
      margin-bottom: 10rem;
    }
    @include respond(phone){
      margin-bottom: max(2rem, 3vh);
    }
  }

  &__tagline{
    margin-bottom: max(2rem, 3vh);
    &--text{
      font-weight: 200;
      font-size: 5rem;
      line-height: 1;
    }
  }

  &__info{
    margin-bottom: max(2rem, 3vh);
    &--text{
      font-size: 1.5rem;
    }
  }
  @include respond(phone){
    background-image: url(../assets/header_plate_top.jpg) ;
    background-size: cover;
    background-position: top;
    padding: $padding-header-mobile;
  }

  @include respond(tab-land) {
    background-image: url(../assets/header_plate.jpg) ;
    background-size: contain;
    background-position: top right;
    text-align: left;
    padding: $padding-header-tablet;
    
  }

 

  @include respond(big-desktop){
    padding: 10rem 0;
    background-image: url(../assets/header_plate.jpg) ;
  }
}

.header__navbar{
  // width: 50vw;
  position: absolute;
  top: 5rem;
  right: 5rem;
  ul{
    display: flex;
    gap: 2rem;
  }
  li{
    font-size: 1.6rem;
    line-height: 2;
  }
  li:hover{
    border-bottom: 2px solid var(--accent-color);
  }

  .navbar__btn{
    font-family: inherit;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 1rem 2rem;
  }

  .active{
    border-bottom: 2px solid var(--text-color);
  }  
}


.main{
  min-height: 50vh;
}

.footer{
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
  padding: 5rem 10rem;
}

